body, html {
   margin: 0 auto;
}
 a {
   color: #fff2e6;
   text-decoration: none;
}
.btn {
   height: 2vw;
   width: 5vw;
   background-color: blue;
}
 h2 {margin-top: 2em;display: inline;}
 .featitle {margin: 0;font-family: "Assistant";}
c p, h3 {
   font-family: "roboto";
   color: antiquewhite;
   display: inline-block;
   font-size: 2em;
   margin: 0;
}
 #headercont {
   width: 100%;
   height: 3.4em;
   position: fixed;
   z-index: 2;
   overflow: hidden;
}
 #header {
   margin: 0 auto;
   width: 80%;
   background-color: #1b1819;
   height: 3.4em;
   display: flex;
   border-bottom: .04em solid white;
   justify-content: space-around;
   align-items: center;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}
 @media (max-width: 800px) {
   #header {
     width: 21.5em;
  }
   body {
  	background-color: #ff7c0c;
  }
 
   #topsection-bg {
   	display: none;
   }
   #header #header-img {
     display: none;
  }
   #header #logotext {
     font-size: 1.3em;
     position: relative;
     left: -14px;
  }
   #header ul {
     right: 10px;
     position: relative;
     font-size: 0.67em;
     flex-wrap: nowrap;
     width: 200px;
  }
  .introbox3
  {
    margin-top: -2em;
  }
  #howitworks {
    display: block !important;
        height: 36em;
    margin-top: -6em;
  }
  #videotext {
display:block;
margin: 0 auto;
width:70%; 
}
  #videotext-header h2 {
    font-family: "Major Mono Display";
    background-color: blue;
  }
  #features {
    margin-top:-4em;
  }
  #pricingsec{
  /* min-height: 71%; */
  /* margin-bottom: 3em; */
}

#video {
  display: block;
  margin: 0 auto;
  width: 100%;
}
}
 #logodiv {
   width: 15vw;
   margin-left: 7vw;
}
 ul {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   list-style: none;
   font-family: "roboto";
   font-size: 0.9em;
   padding: 0;
}
 #logotext {
   font-family: 'Righteous', sans-serif;
   font-size: 1.7em;
   color: #fff2e6;
   border-radius: 2px;
   margin-left: -15px;
}
 li {
   margin-left: 1em;
}
 #header-img {
   width: 3vw;
   height: 3vw;
   padding-left: 1em;
}
 #container {
   width: 100%;
   margin: 10vw 0 auto;
}
 #topsection {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 85vh;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

#topsection-bg {
  margin-top: -13em;
  width: 0;
  height: 0;
  border-left: 26vw dotted black;
  border-right: 35em solid red;
  border-bottom: 120vw solid #996876;
  position: fixed;
  z-index: -10;
}
#bgsquare{
  background-color: #241129;
  border-radius: 50%;
  border: 5px solid red;
  height: 20em;
  width: 20em;
  right: 28px;
  position: absolute;
  z-index: 1;
}
 @media (max-width: 600px) {
   #topsection {
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 50em;
     margin-bottom: -14em;
     background-color: #000000eb;
  }
}
 .mkttext-left
{
    font-family: 'Major Mono Display', sans-serif;
   font-size: 6vw;
   text-align: center;
     animation: color-change 2s infinite;
      font-size: 6vw;
}
 .mkttext-right {
   font-family: 'Major Mono Display', sans-serif;
   font-size: 6vw;
   text-align: center;
   animation: color-change 2s infinite;
   font-size: 6vw;
   background-color: #586b739e;
}

@keyframes color-change {
  0% {color:#97e0be}
  50%{color:#e0cd97}
  100% {color:#97e0be}
}

}


@media (max-width: 600px) {
  .mkttext-left, .mkttext-right {
    color: black;
    font-size: 4.5vw;
  }
}
 .introbox1 {margin-bottom: 19vh;
 	z-index:2;margin-right: 4em;background-color: #1773a9ad;display: flex;width: 13em;height: 8em;height: 5em;isplay: flex;border: 4px solid #976876;align-items: center;justify-content: center;}
 @media (max-width: 600px) {
  .introbox1 {
    border-bottom: transparent;
    margin-bottom: -1em;
    margin-right: 0em;
  }
  .introbox3 {
    border-bottom: transparent;
    margin-top: -10em;
  }
  .mkttext-right {
    margin-top: -5em;
  }

 }
 .introbox3 {
   display: flex;
   margin-left: 0.2em;
   width: 20em;
   height: 15em;
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-top: 31vh;
   z-index:2;
}
 .introbox2 {
   display: flex;
   width: 0em;
   height: 20em;
   align-items: center;
   justify-content: center;
   background-color: white;
}
 #mainpic {
  top: 50%;
  width: 46%;
  left: 10em;
  max-height: 100%;
  position: absolute;
  z-index: -1;
}
 i {
   font-size: 6vw;
}
 .dcontainer {
   width: 60%;
   margin-right: 5em;
   position: absolute;
}
.dcontainer h2 {
  font-size: 2.2em;
  color: #f34d4d;
  margin-left: -1em;
}

.dcontainer p {
  font-family: roboto;
  margin: 0;
  font-size: 17px;
  color: #909090;
}

 @media (max-width: 600px) {
   .dcontainer h2 {
     font-size: 1.6em;
  }
   .dcontainer p {
     font-size: 0.8em;
  }
   #mainpic {
      /* margin-top:0em; */
      position: relative;
      top: 18em;
      right: 0;
      left: 0;
      max-height: 100%;
      /* display: none; */
      z-index: 2;
   }
}
 #features {
  flex-direction: column;
  align-items: flex-end;
  margin-top: 6em;
  align-items: center;
  background-color: #383838;
  padding-bottom: 2em;
}
 .featuregrid {
  /* border-top: 1px solid gainsboro; */
  border-radius: .4em;
  width: 100%;
  height: 10em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  :
  background-color:
}
 .icon {
   /* display: flex; */
   /* align-items: center; */
   /* justify-content: center; */
   position: absolute;
   left: 6em;
   /* margin: 10px 3em; */
 */
   padding-right:;
   color: gray;
}
 #howitworks {
   width: 100%;
   /* height: 100%; */
   /* margin: 0 auto; */
   flex-direction: row;
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: #383838;
   padding-top: 3em;
   padding-bottom: 6em;
   /* min-height: 100%; */
}
#videotext {
  width: 30%;
  margin-top: 2em;
  height: 42%;
  background-color: #383838;
  border-top: 1px solid black;
}
#videotext-header {
  font-family: "major mono display";
  font-size: 3rem;
  margin-top: 3em;
  position: relative;
  top: 0em;
  left: -2em;
  width: 100%;
  background-color: #1cf953;
}
#features-ul {
  /* flex-direction: column; */
  margin-top: 4em;
  font-size: 1em;
  width: 81%;
  padding-right: 4em;
  color: white;
  display: flex;
  em; */
}
 #pricingsec {
   display: flex;
   padding-top: 1em;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   /* padding-bottom: 18vh; */
   background-color: #383838;
}
.pricingimg {
  width: 40vw;
  position: absolute;
  left: 50px;
  opacity: 0.3;
}
.pricingimg2 {
  right: 50px;
  position:absolute;
  width: 41vw;
  opacity: 0.3;
}
.pricingdesc1 {
  padding: 30px;
  font-family: roboto;
  font-size: 1.5em;
  color: coral;
  position: relative;
  margin: 0 auto;
  width: 45%;
  /* background-color: green; */
}
.pricingdesc2 {
  padding: 30px;
  font-family: roboto;
  font-size: 1.5em;
  color: coral;
  position: relative;
  margin: 0 auto;
  width: 45%;
}

 @media (max-width: 600px) {
   #pricingsec {
     flex-direction: column !important;
     /* height: 35em; */
  }
  .desccontainer {
    width: 80% !important;
  }
}
@media (max-width: 400px) {
  #pricingsec {
    flex-direction: row;
  }
}
 .titlecontainer {
   /* margin: 0 auto; */
   /* position: relative; */
   /* right: -3em; */ */
   width: 100%;
   position: relative;
   /* background-color: #fccaa640; */
   font-family: "pt sans narrow";
   font-size: 3em;
   color: white;
}
 .desccontainer {
   width: 80%;
   display: inline-block;
   em; */
   /* border-top: solid black 0.4px; */
   width: 12em;
   text-align: center;
   t-align: center;
   background-color: #2b2b2b;
   :
   margin-bottom: 12em
}

 #fdec {
   width: 100%;
   height: 5px;
   background-color: #446d9e;
   margin: 0 auto;
}
 footer {
   width: 100%;
   height: 6.5em;
   background-color: #2d2d2d;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
 #signup {
   padding-bottom: 5em;
   display: flex;
   padding-top: 6em;
   justify-content: center;
   background-color: #383838;
}
 #emailwrapper {
  margin-top: 8vw;
  margin-bottom: 8vw;
  padding-left: 10vw;
  padding-right: 10vw;
  border-left: 5px solid #ed6581;
  border-right: 5px solid #ed6581;
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: center;
  font-family: roboto;
  font-size: 1.7em;
  color: orange;
}
 #email, #submit {
  margin: 0 auto;
  width: 82%;
  font-family: pt sans narrow;
}
#email {
  margin-bottom:1em;
  font-size: .6em;
  text-align: center;
}
.btn {
  height: 3em;
  font-size: 1em;
  color: white;
  background-color: #426e9b;
  border: none;
}
 #form {
   display: flex;
   flex-direction: column;
}
 #iconbox {
   display: inline-block;
   position: relative;
   left: 0px;
   width: 20%;
}
 #iconbox i {
   font-size: 1.2em;
}
 #footertext {
   display: inline-block;
   width: 9em;
   border: 1px solid gray;
   height: 1.4em;
}

 @media (max-width: 600px) {
   .desccontainer h2 {
     font-size: 1.15em;
  }


  
   .desccontainer h3 {
     font-size: 0.8em;
  }
   .desccontainer p {
     font-size: 1em;
  }
  #features: {
    margin-top: -11em;
  }
  .icon {
    display: none;
  }
}
 
